<div class="sccsMap">
    <div>
        <div class="move-tab com-tab" ng-style="style01" ng-click="stop($event)">
            <h2 ng-bind="newData.name"></h2>

            <div>
                <p>数据展示1:<span>{{newData.value }}</span></p>

                <p> 数据展示2:<span>{{newData.value*8}}</span></p>

                <p>数据展示3:<span>{{newData.value/10}}亿</span></p>
            </div>
            <div class="go-map" ng-click="goMap(newData.data)">查看详情&nbsp;&gt;</div>
        </div>
        <div class="move-tab-line" ng-style="style02" ng-click="stop($event)"></div>
        <div class="move-tab-line1" ng-style="style03" ng-click="stop($event)"></div>
    </div>
    <div id="mainChart" class="dashboard-map"></div>

    <div class="chart1 item">
        <h2>银行放款金额</h2>
        <div id="chart1">

        </div>
    </div>
    <div class="chart2 item">
        <h2>新型经营体采集数</h2>
        <div id="chart2">

        </div>
    </div>
    <div class="chart3 item">
        <h2>补放款金额</h2>
        <div id="chart3">

        </div>
    </div>
    <div class="chart4 item">
        <h2>用户注册数</h2>
        <div id="chart4">

        </div>
    </div>
    <div class="chart5 item">
        <ul>
            <li>
               <span>放款金额:</span>
               <b>4555亿</b>
            </li>
            <li>
               <span>银行放款笔数:</span>
               <b>45万</b>
            </li>
            <li>
               <span>奖补放款笔数:</span>
               <b>45万</b>
            </li>
            <li>
               <span>农业大户采集数:</span>
               <b>34万</b>
            </li>
            <li>
               <span>用户注册数:</span>
               <b>45万</b>
            </li>
        
        </ul>
    </div>
</div>
