<ul class="scscProvince">
    <li  class="provinceMap item col-4">
        <div>
            <div id="provinceMap"></div>
        </div>
    </li>
    <li  class="provinceMap item col-6">
        <div>
            <h2>融资总额：6000万</h2>
            <div id="chart1"></div>
        </div>
    </li>
    <li  class="provinceMap item col-5">
        <div>
            <h2>累计项目：5400个</h2>
            <div id="chart2"></div>
        </div>
    </li>
    <li  class="provinceMap item col-5">
        <div>
            <h2>今日产权交易统计</h2>
            <div id="chart3"></div>
        </div>
    </li>
    <li  class="provinceMap item col-5">
        <div>
            <h2>各行业贷款金额：3700万</h2>
            <div id="chart4"></div>
        </div>
    </li>
    <li  class="provinceMap item col-5">
        <div>
            <h2>各银行放款金额：3000万</h2>
            <div id="chart5"></div>
        </div>
    </li>
    <li  class="provinceMap item col-5">
        <div>
            <h2>各区县贷款金额</h2>
            <div id="chart6"></div>
        </div>
    </li>

</ul>

