
body{ margin: 0; padding: 0;}
*{ box-sizing:border-box;}
h1,h2,h3,h4,h5,h6,li,ul{ margin:0; padding:0;}
ul{ list-style-type: none;}
.padding-top40{ padding-top:40px;}
.ui-popup, popup{ width:80%; height:80%; }
/*.ui-popup-modal:before{ opacity:1 !important;background: url("images/bcg.png") repeat !important;
    background-size: contain !important; transform:scale(1)!important;}*/
.ui-dialog-header{ background: #FFF;}
.ui-dialog-close span{ color:#c00; font-size: 20px;}
body{
    font-family:sbFont !important;
    width:100%;
    height:100%;
    overflow: hidden;
    /*background: url("images/bcg.png") repeat;*/
    background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #000d5d 0%, #000105 100%);
    background-image: radial-gradient(ellipse farthest-corner at center top, #000d5d 0%, #000105 100%);
    cursor: move;

}


#large-header{ position: absolute;z-index: 4; top:10px; left:10px;}
.canvas-starry{position: absolute; z-index: 2;}
.page-container{ position: absolute; z-index: 10; top:0; left:0; bottom: 0; right:0;
    overflow-y: auto;
    overflow-x: hidden;
}
.innerContainer { }

.page        {
    width:100%;
    height:100%;
    /*background: url("images/bg06.png") repeat;
    background-size: cover;*/
    padding-top: 100px;

}


/* 页面切换默认动画------------------------ */
.ng-enter { z-index: 8888; position: absolute; background: none;}
.ng-leave { z-index: 9999; position: absolute; background: none;}


.ng-enter.page2 { animation: bounceInRight 0.5s both ease-in 0.3s; }
.ng-leave.page2 { animation: bounceOutLeft 0.5s both ease-in; }
.ng-enter.page3 { animation: bounceInLeft 0.5s both ease-in 0.3s; }
.ng-leave.page3 { animation: bounceOutRight 0.5s both ease-in; }

/*
!* scscAddCompany -------------------------- *!
.ng-enter.scscAddCompany { animation: scaleUp 0.5s both ease-in 0.3s; }
.ng-leave.scscAddCompany { animation: rotateFall 0.5s both ease-in; }

!* scscMapPage ------------------------ *!
.ng-enter.scscMapPage { animation:slideInRight 0.5s both ease-in 0.3s; }
.ng-leave.scscMapPage { animation:zoomOut 0.5s both ease-in; }

!* scscMapPage ---------------------- *!
.ng-enter.scscProvincePage { animation:slideInUp 0.5s both ease-in 0.3s; }
.ng-leave.scscProvincePage { animation: zoomOut 0.5s both ease-in; }
*/
#backTop{ position: fixed; right: 0;  z-index: 10000; display: none; cursor: pointer; opacity: 0.5; filter:alpha(opacity=50);}
#backTop:hover{ opacity: 1; filter:alpha(opacity=100);}
#backTop img{ max-width: 88px}
#backTop .img1{ display: none}
@media (max-width: 54.86em) {
    #backTop img{ max-width: 40px; filter:alpha(opacity=100);}
}

