<div>
    <div class="nav-head">
        <div class="logo">
            <a ui-sref="ndt.sccsMap()">
                <img src="static/images/idlogo.png" alt=""/>
            </a>
        </div>
        <div class="big-title" ng-bind="bigTitle">

        </div>
    </div>
    <div>
        <dialog ng-if="displayProvince" close="closeComparison('province')" modal>
            <div dialog-title>省对比</div>
            <div dialog-content>
                <div class="row">
                    <div class="col-md-6">
                        <img src="modules/sccs/images/beijing.png" width="100%" height="">
                    </div>
                    <div class="col-md-6">
                        <img src="modules/sccs/images/sichuan.png" width="100%" height="">
                    </div>
                </div>
            </div>
        </dialog>

        <dialog ng-if="displayCity" close="closeComparison('city')" modal>
            <div dialog-title>市对比</div>
            <div dialog-content>
                <div class="row">
                    <div class="col-md-6">
                        <img src="modules/sccs/images/beijing.png" width="100%" height="">
                    </div>
                    <div class="col-md-6">
                        <img src="modules/sccs/images/sichuan.png" width="100%" height="">
                    </div>
                </div>
            </div>
        </dialog>

        <dialog ng-if="displayStPark" close="closeComparison('stPark')" modal>
            <div dialog-title>科技园对比</div>
            <div dialog-content>
                <div class="row">
                    <div class="col-md-6">
                        <img src="modules/sccs/images/beijing.png" width="100%" height="">
                    </div>
                    <div class="col-md-6">
                        <img src="modules/sccs/images/sichuan.png" width="100%" height="">
                    </div>
                </div>
            </div>
        </dialog>

        <dialog ng-if="displayIncubator" close="closeComparison('incubator')" modal>
            <div dialog-title>孵化园对比</div>
            <div dialog-content>
                <div class="row">
                    <div class="col-md-6">
                        <img src="modules/sccs/images/beijing.png" width="100%" height="">
                    </div>
                    <div class="col-md-6">
                        <img src="modules/sccs/images/sichuan.png" width="100%" height="">
                    </div>
                </div>
            </div>
        </dialog>

        <dialog ng-if="displayCompany" close="closeComparison('company')" modal>
            <div dialog-title>企业对比</div>
            <div dialog-content>
                <div class="row">
                    <div class="col-md-6">
                        <img src="modules/sccs/images/beijing.png" width="100%" height="">
                    </div>
                    <div class="col-md-6">
                        <img src="modules/sccs/images/sichuan.png" width="100%" height="">
                    </div>
                </div>
            </div>
        </dialog>
    </div>

    <div>
        <div class="page {{pageChange}} {{pageClass}}" ui-view></div>
    </div>
</div>


